<div class="row mt-3 text-center">
<h1 class=" ">Alumnos inscritos Bootcamp ANGULAR</h1>
</div>


<div>
  <ul class="list-group">
    <li
      *ngFor="let alumnos of alumnosArray"
      class="list-group-item list-group-item-action"
      (click)="openOrEdit(alumnos)"
      [class.active]="alumnos == selectedAlumnos"
      >
     {{alumnos.id}} - {{alumnos.name}} - {{alumnos.age}} - {{alumnos.birthplace}} - {{alumnos.status}} - {{alumnos.gendre}} 
    </li>
  </ul>
</div>


<div class="row">
<div class="col-md-3"></div>

<div class="col-md-6 mt-3">
  <h2>Registra, edita o elimina alumnos</h2>
    <form>
      <div class="form-goup">
          <input type="text" [(ngModel)]="selectedAlumnos.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Ingresa Nombre">
      </div>
      <div class="form-goup">
          <input type="number" class="form-control" [(ngModel)]="selectedAlumnos.age" [ngModelOptions]="{standalone: true}" placeholder="Ingresa tu edad">
      </div>
      <div class="form-goup">
          <input type="text" class="form-control" [(ngModel)]="selectedAlumnos.birthplace" [ngModelOptions]="{standalone: true}" placeholder="Ingresa lugar de nacimiento">
      </div>
      <div class="form-goup">
          <input type="text" class="form-control" [(ngModel)]="selectedAlumnos.status" [ngModelOptions]="{standalone: true}" placeholder="Estatus Alumno">
      </div>
      <div class="form-goup">
         <input type="text" class="form-control" [(ngModel)]="selectedAlumnos.gendre" [ngModelOptions]="{standalone: true}" placeholder="Ingresa genero">
      </div>

  <div class="mt-3">
    
      <button (click)="addOrEdit()" mat-raised-button color="primary" class="m-2">Submit</button>
   
    
      <button 
      *ngIf="selectedAlumnos.id !== 0"
      mat-raised-button color="warn" 
      (click)="delete()">
      Eliminar</button>
    
    </div>
    </form>
  
  </div>
</div>

  


